<section class="vh-100 bg-image">
   <div class="mask d-flex align-items-center h-100 gradient-custom-3">
   <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
               <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Log In</h2>
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-outline mb-4 text-center">
                     <%= f.label :email %><br />
                     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>
                  <div class="form-outline mb-4 text-center">
                     <%= f.label :password %><br />
                     <%= f.password_field :password, autocomplete: "current-password" %>
                  </div>
                  <% if devise_mapping.rememberable? %>
                  <div class="form-outline mb-4 text-center">
                     <%= f.check_box :remember_me %>
                     <%= f.label :remember_me %>
                  </div>
                  <% end %>
                  <div class="d-flex justify-content-center">
                     <%= f.submit "Log in", :class => 'tn btn-success btn-block btn-lg text-body', :style => 'background: #2196F3;background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))' %>
                  </div>
                  <% end %>
                  <div class="fw-bold text-body text-center">
                     <%= render "devise/shared/links" %>
                     </div
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>