<div id="<%= dom_id item %>">
  <p>
    <strong>Item ID:</strong>
    <%= item.itemID %>
  </p>

  <p>
    <strong>Item Name:</strong>
    <%= item.itemName %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Unit Price:</strong>
    <%= item.unit_price %>
  </p>

</div>
